@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#dbe8f6;
  color:#123252;
  overflow-x:hidden;
}

img{
  max-width:100%;
  display:block;
}

a{
  text-decoration:none;
}

.section{
  padding:120px 8%;
}

.section:nth-child(even){
  background:#dbe8f6;
}

.section:nth-child(odd){
  background:#cfe0f1;
}
/*HEROOOO*/
.hero{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  position:relative;

  background:
  linear-gradient(rgba(13,55,93,.45),rgba(13,55,93,.45)),
  url("/hero-bg1.png");

  background-size:cover;
  background-position:center;

  overflow:hidden;
}

.hero::before{
  content:"";
  position:absolute;
  inset:0;

  background:
  radial-gradient(circle at top left,
  rgba(255,255,255,.15),
  transparent 40%);
}

.hero-content{
  position:relative;
  z-index:2;
  text-align:center;
  max-width:1000px;
  padding:20px;

  animation:fadeUp 1s ease;
}

.logo{
  width:550px;
  margin:auto;
  margin-bottom:35px;
}

.hero h1{
  color:white;
  font-size:70px;
  font-weight:800;
  line-height:1.1;
  margin-bottom:30px;
}

.hero p{
  color:#edf5ff;
  font-size:21px;
  line-height:1.9;
}
/*BOTONESSSSS*/
.buttons{
  margin-top:45px;

  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
}

.btn,
.btn-outline{

  padding:18px 40px;

  border-radius:60px;

  background:#1f6cb5;
  color:white;

  font-weight:700;

  transition:.4s;
}

.btn:hover,
.btn-outline:hover{

  transform:
  translateY(-6px)
  scale(1.03);

  background:#2783da;

  box-shadow:
  0 15px 35px rgba(39,131,218,.4);
}
/*Animación global*/
@keyframes fadeUp{

  from{
    opacity:0;
    transform:translateY(40px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}
/*QUIENES SOMOSSS*/

.about{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:80px;
    align-items:center;
}

.about-image img{
    border-radius:30px;
}

.about-text h2{
    font-size:55px;
    color:#17324d;
    margin-bottom:25px;
}

.about-text p{
    line-height:2;
}
/*TITULOSSS*/
.title-center{
    text-align:center;
    font-size:55px;
    color:#17324d;
    margin-bottom:70px;
}
/*TARJETASS*/
.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:35px;
}

.card{
    background:#CFE8FF;
    border-radius:30px;
    padding:40px;

    border-top:6px solid #5FA8D3;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#17324d;
    font-size:28px;
    margin-bottom:20px;
}

.card p{
    line-height:1.9;
    color:#32404d;
}

.card ul{
    margin-left:20px;
    margin-top:20px;
}

.card li{
    margin-bottom:10px;
}
/*IMAGENES DE TARJETAS*/
.card-image{
    width:100%;
    height:220px;

    border-radius:20px;

    background:linear-gradient(
        135deg,
        #A9D6FF,
        #D9ECFF
    );

    margin-bottom:25px;

    overflow:hidden;
}

.card-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}
/*BOTON DE VER MAS*/
.btn-proyecto{

    margin-top:25px;

    border:none;
    cursor:pointer;

    background:#1B4965;
    color:white;

    padding:15px 30px;

    border-radius:50px;

    font-weight:600;

    transition:.3s;
}

.btn-proyecto:hover{
    background:#5FA8D3;
}
/*CONTENIDO DESPLEGABLE*/
.contenido-proyecto{
    margin-top:25px;
    padding-top:25px;

    border-top:1px solid rgba(0,0,0,.1);

    animation:fadeIn .4s ease;
}

@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(-10px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}
/*EQUIPO*/
.team-card{
    text-align:center;
}

.team-photo{
    width:160px;
    height:160px;

    margin:auto;
    margin-bottom:25px;

    border-radius:50%;

    overflow:hidden;

    border:5px solid #5FA8D3;

    background:#A9D6FF;
}

.team-photo img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.cargo{
    display:block;

    margin-top:10px;

    color:#1B4965;
    font-weight:700;
}
/*REDES SOCIALES*/
.social-section{
    background:#d9e7f5;

    padding:120px 20px;

    text-align:center;
}

.social-section h2{
    font-size:52px;
    color:#14395c;
    margin-bottom:20px;
}

.social-text{
    max-width:750px;
    margin:0 auto 60px;
    line-height:1.8;
    color:#35526f;
}

.social-links{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.social-card{
    width:220px;
    min-height:180px;

    background:#c4daf0;

    border-radius:30px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    gap:20px;

    text-decoration:none;

    transition:.3s;
}

.social-card:hover{
    transform:translateY(-8px);
}

.social-card svg{
    font-size:48px;
}

.social-card:hover{
    transform:translateY(-8px);
}

.social-card svg{
    font-size:42px;
}

.instagram{
    color:#E1306C;
}

.facebook{
    color:#1877F2;
}

.youtube{
    color:#FF0000;
}
/*DONACIONES*/
.donaciones{
    background: linear-gradient(135deg,#3c7aa3,#2f6287);
    padding:120px 20px;
    text-align:center;
    color:white;
}

.donaciones h2{
    font-size:55px;
    margin-bottom:20px;
}

.donaciones > p{
    max-width:700px;
    margin:0 auto 60px;
    line-height:1.8;
}

.donation-box{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:35px;
    flex-wrap:wrap;
}

.payment-card{
    width:340px;
    min-height:160px;

    background:rgba(255,255,255,.15);

    border:1px solid rgba(255,255,255,.15);

    border-radius:30px;

    display:flex;
    align-items:center;
    gap:25px;

    padding:30px;
}

.payment-icon{

    width:75px;
    height:75px;

    flex-shrink:0;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:white;

    color:#17324d;

    font-size:30px;
}

.nequi-icon{
    background:#E4007C;
    color:white;
}
/*FOOTER-CONTACTENOS*/
footer{
    background:#17395d;

    color:white;

    padding:120px 20px;

    text-align:center;
}

footer h2{
    font-size:60px;
    margin-bottom:40px;
}

footer p{
    line-height:2;
    font-size:18px;
}
/*BOTON WHATSAPP*/
.whatsapp-float{

    position:fixed;

    bottom:25px;
    right:25px;

    width:75px;
    height:75px;

    background:#25D366;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    text-decoration:none;

    color:white;

    font-size:38px;

    box-shadow:
    0 15px 35px rgba(0,0,0,.25);

    z-index:999;
}
.copyright{
    margin-top:40px;
    padding-top:25px;
    width:100%;
    border-top:1px solid rgba(255,255,255,.15);

    font-size:14px;
    color:rgba(255,255,255,.7);
    letter-spacing:.5px;
}
.whatsapp-float:hover{
    transform:scale(1.08);
}
/*QUIENES SOMOS*/
.placeholder{

    height:500px;

    background:linear-gradient(
        135deg,
        #A9D6FF,
        #CFE8FF
    );

    border-radius:30px;

    overflow:hidden;
}

.placeholder img{

    width:100%;
    height:100%;

    object-fit:cover;
}
/*COLORES TITULOS*/
.about-text h2,
.title-center,
.social-section h2{
    color:#17324d;
}
/*RESPONSIVE CELULARES*/
@media screen and (max-width:768px){

    /* SECCIONES */

    .section{
        padding:80px 20px;
    }

    /* HERO */

    .hero{
        min-height:auto;
        padding:50px 20px 80px;

        background-size:cover;
        background-position:center top;
    }

    .hero-content{
        width:100%;

        display:flex;
        flex-direction:column;
        align-items:center;

        text-align:center;
    }

    .logo{
        width:250px;
        margin:0 auto 25px;
    }

    .hero h1{
        font-size:36px;
        line-height:1.25;

        width:100%;
        text-align:center;
    }

    .hero p{
        font-size:16px;
        line-height:1.9;

        max-width:100%;
    }

    /* BOTONES */

    .buttons{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:15px;
    }

    .btn,
    .btn-outline{
        width:100%;
        max-width:320px;
    }

    /* QUIENES SOMOS */

    .about{
        grid-template-columns:1fr;
        gap:40px;
    }

    .about-image{
        display:flex;
        justify-content:center;
    }

    .about-image img{
        max-width:320px;
        margin:auto;
    }

    .about-text{
        text-align:center;
    }

    .about-text h2{
        font-size:36px;
    }

    /* TITULOS */

    .title-center,
    .social-section h2,
    .donaciones h2,
    footer h2{
        font-size:36px;
    }

    /* TARJETAS */

    .cards{
        grid-template-columns:1fr;
    }

    .card{
        padding:30px;
        text-align:center;
    }

    /* EQUIPO */

    .team-photo{
        width:130px;
        height:130px;
    }

    /* REDES */

    .social-links{
        flex-direction:column;
        align-items:center;
    }

    .social-card{
        width:100%;
        max-width:320px;
    }

    /* DONACIONES */

    .donation-box{
        flex-direction:column;
        align-items:center;
    }

    .payment-card{
        width:100%;
        max-width:340px;

        flex-direction:column;

        text-align:center;
    }

    .payment-icon{
        margin:auto;
    }

    /* FOOTER */

    footer{
        padding:70px 20px;
    }

    footer p{
        font-size:15px;
    }

    /* WHATSAPP */

    .whatsapp-float{
        width:65px;
        height:65px;

        font-size:32px;

        bottom:20px;
        right:20px;
    }

}